th {
    font-size: 13px;
    font-weight: normal;
    background: #333;
    border-top: 4px solid #111;
    border-bottom: 1px solid white;
    color: white;
    padding: 8px;
}
td {
    background: #333;
    border-bottom: 1px solid white;
    color: white;
    border-top: 1px solid transparent;
    padding: 8px;
}
tr:hover td {
    background: #333;
}

