<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../templates/static/MyCss.css">
    <link rel="stylesheet" type="text/css" href="./static/Navcss.css">
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/hello}">home</a></li>
        <li><a th:href="@{/specialisation/}">specialisations</a></li>
        <li><a th:href="@{/diagnosis/}">diagnosis list</a></li>
        <div sec:authorize="isAuthenticated()">
            <li><a th:href="@{/account}">your card</a></li>
        </div>
        <li><a th:href="@{/faq}">FAQ</a></li>

        <div sec:authorize="hasRole('ADMIN')">this can see admin only</div>
        <div sec:authorize="hasAuthority('ROLE_PATIENT')">this can see patient only</div>
        <div sec:authorize="hasAuthority('DOCTOR')">this can see doctor only</div>
        <div sec:authorize="hasAuthority('ROLE_DOCTOR')">this can see role_doctor only</div>
        <div sec:authorize="isAuthenticated()">
            <li style="float:right"><a th:href="@{/logout}">LOGOUT</a></li>
        </div>
        <div sec:authorize="isAuthenticated()==false">
            <li style="float:right"><a th:href="@{/login}">LOGIN</a></li>
            <li style="float:right"><a th:href="@{/form}">SIGN UP</a></li>
        </div>
    </ul>
</nav>
Doctor's INFO
<p>specialisation:</p>
<span th:text="${doctor.specialisation.name}"></span>
<p>firstName:</p>
<span th:text="${doctor.name}"></span>
<p>surname:</p>
<span th:text="${doctor.surname}"></span>
<p>number:</p>
<span th:text="${doctor.number}"></span>
<p>Authenticated user's mail:</p>
<span th:text="${doctor.mail}"></span>
<p>seniority:</p>
<span th:text="${doctor.seniority}"></span>

<div>
    <p><b>Only the patient can make an appointment</b></p>
</div>

<div sec:authorize="hasAuthority('ROLE_PATIENT')">

    <div th:unless="${#lists.isEmpty(receptionHours)}">
        <h1>reception hours</h1> dateTime
        <p th:if="${check}"> вы были назначены на приём</p>
        <a th:href="@{/specialisation/doctor/{id}/sort/available(id=${doctor.id})}"> show available  only </a>
        <table border="1">
            <tr>
                <th><a th:href="@{/specialisation/doctor/{id}/sort/{title}(title='dateTime', id=${doctor.id})}">
                    dateTime</a></th>
            </tr>
            <tr th:each="receptionHour : ${receptionHours}">

                <td>

                    <div th:switch="${receptionHour.status}">
                        <a th:case="3" th:href="@{/specialisation/doctor/appoint/{id}(id=${receptionHour.id})}"
                           th:utext="${receptionHour.dateTime}"
                           target="_blank"> > </a>
                        <p th:case="*" th:text="${receptionHour.dateTime}"></p>
                    </div>

                    <!--        <a th:if="${receptionHour.status==3}" th:href="@{/specialisation/doctor/appoint/{id}(id=${doctor.id})}" th:utext="${receptionHour.dateTime}"
                               target="_blank"> </a>
                               -->

                </td>
            </tr>
        </table>

    </div>
</div>



<div style="text-align: center">
    <footer>

        <p style="text-align: center">hello page</p>
        <p style="text-align: center">INFO</p>
        <table z style="display: inline-block;">
            <thead class="table-header">
            <tr>
                <th>name</th>
                <th>address</th>
                <th>mail</th>
                <th>number</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Elmer</td>
                <td>1-Y Kol'tsevoy Proyezd, 55-49</td>
                <td>hospital@mail.ru</td>
                <td>000-000</td>
            </tr>
            </tbody>
        </table>
    </footer>
</div>
</body>
</html>