<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  rel="stylesheet" type="text/css" href="MyCss.css">
    <link rel="stylesheet" type="text/css" href="Navcss.css">
</head>
<body>

<nav>
    <ul>
        <li><a class="active" th:href="@{/hello}">home</a></li>
        <li><a th:href="@{/specialisation}">specialisations</a></li>
        <li><a th:href="@{/yourCard}">your card</a></li>
        <li><a th:href="@{/diagnosis}">diagnosis list</a></li>
        <li><a th:href="@{/FAQ}">FAQ</a></li>

        <div sec:authorize="hasRole('ADMIN')">this can see admin only </div>
        <div sec:authorize="hasAuthority('PATIENT')">this can see patient only </div>
        <div sec:authorize="hasAuthority('DOCTOR')">this can see doctor only </div>
        <div sec:authorize="hasAuthority('ROLE_DOCTOR')">this can see role_doctor only </div>

        <li  style="float:right"><a th:href="@{/logout}">LOGOUT</a></li>
    </ul>
</nav>


<div style="text-align: center">
    <footer>

        <p style="text-align: center">hello page</p>
        <p style="text-align: center">INFO</p>
        <table z style="display: inline-block;">
            <thead class="table-header">
            <tr>
                <th>name</th>
                <th>address</th>
                <th>mail</th>
                <th>number</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Elmer</td>
                <td>1-Y Kol'tsevoy Proyezd, 55-49</td>
                <td>hospital@mail.ru</td>
                <td>000-000</td>
            </tr>
            </tbody>
        </table>
    </footer>
</div>
</body>
</html>